
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.chess-wrapper{
    width: 100%; padding-top: 100px;
    background: url('../img/pattern.svg') repeat 100% center #26a69a;
    background-size: 500px; height: 100vh; 
}
.chess-inner-wrap{
    max-width: 600px;
    margin: 0 auto;
    border: 15px solid;
    border-image: url('../img/border.jpg') 22 repeat;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.chess-list{
    list-style: none; display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap; height: 75px;
}
.chess-list li{
    flex-basis: calc(100% / 8);
    max-width: calc(100% / 8);
    background-color: #ffffff;
}
.chess-list:nth-child(odd) li:nth-child(even){
    background-color: #000000;
}
.chess-list:nth-child(even) li:nth-child(odd){
    background-color: #000000;
}